@import url('https://fonts.googleapis.com/css?family=Nunito');

html body {
	font-family: 'Nunito', sans-serif;
}

/*-- begin menu--*/

#top-menu  {
  	background-color: #483597;
  	border-bottom: 1px solid #d53842; 
  	font-size: 23px; 
  	box-shadow: 4px 4px 4px #d53842;
}

#top-menu .navbar-brand{
  	color: #d53842;
  	font-weight: bold;
}

#top-menu  .navbar-nav {
	border-bottom: 2px solid #DBBC39;
}

#top-menu  .navbar-nav a{
	padding-left: 15px;
	padding-right: 15px;
	color: #DBBC39;
}

#top-menu  .navbar-nav a:hover{
	color: #EDD46A;
	border-bottom: 3px solid #EDD46A;	
}

#top-menu  .navbar-nav .active a{
	color: #d53842;
	border-bottom: 3px solid #d53842;
}
/*-- end menu--*/

/*-- begin colletion --*/
.carousel-caption p{
	color: #ffffff;
	font-size: 50px;
}

#profile, #workflow, #contact, #testing{
	margin-top: 1px;
}

#collection{
	padding-top: 5px;
	border-top: 1px solid #ffffff;
}
/*-- end colletion --*/

/*-- begin section profile--*/
#profile{
	background-color: #483597
}

#profile .foto{
	padding-top:140px;
	width: 100%;
}

#profile  p{
	text-align: justify;
	color: #ffffff;
	font-size: 30px;
	padding-top: 10px;
}

#profile h1{
	padding-top: 100px;
	color: #d53842;
	text-align: center;
	text-shadow: 2px 2px 2px #ffffff;
}

#profile h2{
	padding-top: 120px;
	padding-left: 10px;
	color: #DBBC39;
	text-align: center;	
}

#profile h3{
	color: #d53842;
	text-align: center;
	text-shadow: 2px 2px 2px #ffffff;	
}

#profile .quote p{
	padding-top: 90px;
	color: #ffffff;
	font-size: 20px;	
}

#profile .news p{
	color: #DBBC39;
	font-size: 20px;		
}
/*-- end section profile--*/

/*-- begin section workflow--*/
#workflow{
	background-color: #DBBC39;
}

#workflow .card{
	margin-top: 100px;
	border: 1px solid #d53842;
	width: 72%;
	margin: 50px;
}

#workflow .card h5{
	color: #d53842;
}

#workflow .card p{
	color: #483597;
}

#workflow .btn{
	width: 100%;
	font-size: 10px;
	padding:5px;
	background-color:#d53842; 
}

#workflow h1{
	padding-top: 130px;
	color: #d53842;
	text-shadow: 2px 2px 2px #ffffff;
	text-align: center;
}
/*-- end section profile--*/

/*-- begin section contact--*/
#contact{
	padding-top: 140px;
	padding-bottom: 250px;
}

#contact h1{
	color: #d53842;
	text-shadow: 1px 1px 1px #DBBC39;
}

#contact p{
	color: #DBBC39;
	padding-top:50px;
	padding-bottom: 50px;
	font-size: 30px;
}

#contact a{
	font-size: 100px;
	color: #483597;
}

#contact a:hover{
	color: #d53842;
}

#button, #button-2{
	width: 50%;
	margin-top: 100px;
	
}

#button a, #button-2 a{
	padding: 5px;
	font-size: 10px;
	border: 2px solid #483597;
	border-radius: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	background-color: #d53842;
	color: #ffffff;
}

#button a:hover, #button-2 a:hover{
	background-color: #483597;
	color: #ffffff;
	border-color: #d53842;
}
/*-- end section contact--*/

/*-- begin section testing, template--*/
#testing, #template{
	padding-top: 130px;
	background-color: #d53842;
	padding-bottom: 100px;
	border-top: 1px solid #ffffff;
}

#testing .card, #template .card{
	border: 1px solid #d53842;
	width: 72%;
	margin: 50px;
}

#testing .card h5, #template .card h5,{
	color: #d53842;
}

#testing  p, #template p{
	color: #ffffff;
}

#testing .card p, #template .card p{
	color: #483597;
}

#testing .text, #template .text{
	color: #d53842;
	font-size: 30px;
	padding-top: 60px;
}

#testing .btn, #template .btn{
	width: 100%;
	font-size: 10px;
	padding:5px;
	background-color:#d53842; 
}

#testing h1, #template h1{
	color: #483597;
	text-shadow: 2px 2px 2px #ffffff;
	text-align: center;
}
/*-- end section testing, temolate--*/

/*-- begin footer--*/
#footer{
	border-top: 1px solid #ffffff;
	padding-top: 100px;
	padding-bottom: 150px;
	background-color: #483597;
	color: #DBBC39;
}

#footer ul{
	padding-left:10px;
}
#footer ul li {
	display: inline-block;	
}

#footer a{
	text-decoration: none;
	color: #ffffff;
	padding-right: 6px;
	border-right: 1px solid #898989;
}

#footer a:hover{
	color: #d53842;
}

/*-- end footer--*/

/*-- begin media--*/
@media (max-width: 1024px) {
	/*-- menu --*/
	#top-menu {
		font-size: 10px; 
	}

	#top-menu img{
		width: 30%;
	}

	#top-menu .navbar-brand{
		font-size: 15px; 
	}

	/*-- collection --*/
	.carousel-caption p{
		font-size: 30px;
	}

	/*-- profile --*/
	#profile .foto{
		padding-top:100px;
	}

	#profile  p{
	font-size: 20px;
	}

	#profile .quote p {
		font-size: 10px;
	}

	#profile .news p{
		font-size: 10px;
	}

	#profile h1{
		font-size: 15px;
		padding-top: 20px;
	}

	#profile h2{
		font-size: 20px;
		padding-top: 80px;
	}

	#profile h3{
		font-size: 15px;
		padding-top: 5px;
	}

	/*-- workflow --*/
	#workflow .card{
		margin-left: 45px;
		font-size: 5px;
		padding: 1px;
	}

	#workflow h1{
		font-size: 20px;
	}

	#workflow .card-body h5{
		font-size: 10px;
	}

	#workflow .btn{
		width: 100%;
		font-size: 10px;
		padding:5px;
	}

	/*-- contact --*/
	#contact{
		margin-top: 10px;
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#contact h1{
		margin-top: 1px;
		font-size: 20px;
	}

	#contact p{
		font-size: 15px;
		padding-bottom: 10px;
	}

	#contact a{
		font-size: 60px;
	}

	#button a, #button-2 a{
		padding: 5px;
		font-size: 7px;
	}

	/*-- testing, template --*/
	#testing, #template{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#testing h1, #template h1{
		font-size: 15px;
		padding-top: 20px;
	}
	
	#testing .card, #template .card{
		margin-left: 45px;
		font-size: 5px;
		padding: 1px;	
	}

	#testing h1, #template h1{
		font-size: 20px;
	}

	#testing .card-body h5, #template .card-body h5{
		font-size: 10px;
	}

	#testing .btn, #template .btn{
		width: 100%;
		font-size: 10px;
		padding:5px;
	}

	#testing .text, #template .text{
		font-size: 18px;
		padding-top: 30px;
	}

	/*-- footer --*/
	#footer{
		padding-top: 150px;
		padding-bottom: 200px;
	}
	#footer p{
		font-size: 10px;

	}
	#footer .rights{
		padding-bottom: 20px;
	}

	#footer a{
		font-size: 10px;
}
}
/*-- end media--*/

